*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
/* first page */
.container{
    display: flex;
}
.left-content{
    width: 50%;
    height: 1080px;
    position: absolute;
}
.header{
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: #7025FB;
    display: flex;  
}
.logo{
    margin-left: 60px;
    margin-top: 30.41px;
    Width: 14.67px;
    Height: 18.33px;
}
.header-title{
    margin-left: 5px;
    margin-top: 30px;
    Width: 252.82px;
    Height:23.35px;
}
.scrolling-photo{
    position: absolute;
    width: 100%;
    height: 996px;
    left: 0px;
    top: 84px;
}
.right-content{
    margin-left: 50%;
    width: 50%;
    height: 1080px;
    background-color: #FD5334;
    position: absolute;
}

.first-line{
    display: flex;
    align-items: center;
    margin-left: 85px;
    margin-top: 265px;
}
.second-line{
    margin-left: 85px;
    margin-top: 16px;
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}
.first-line-span{
    margin-left: 26px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #212529;
}
.start-div{
    margin-top: 102px;
    margin-left: 85px;
}
.start{
    text-decoration: none;
}
.btn-start{
    background-color: #212529;
    width: 191px;
    height: 53px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.btn-start:hover{
    outline: 4px solid rgba(194, 165, 249, 0.8);
    border-radius: 8px;
}

/* second page */
.second-page-photo{
    position: absolute;
    width: 100%;
    height: 996px;
    left: 0px;
    top: 84px;
}
.second-page-left-title-div{
    position: absolute;
    margin-top: 211px;
    margin-left: 132px;
}
h2{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    color: #212529;
    margin-bottom: 25px;
}
h3{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #E5E6E8;
}
.second-page-right-content{
    background-color: #F5F5F5;
    margin-left: 50%;
    width: 50%;
    height: 1080px;
    position: absolute;
}
.top-right{
    height: 84px;
    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
    display: flex;
    align-items: center;
}
.top-right-title{
    margin-left: 48px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #212529;
}

.steps-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-left: 102px;
    margin-bottom: 4px;
}
.steps-bottom{
    margin-left: 48px;
}

#one{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
}
.line{
    width: 174px;
    height: 1px;
    background-color: rgba(185, 180, 196, 0.3);
}
#two{
    width: 40px;
    height: 40px;
    background-color: #F5F5F5;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #95939A;
}
.personal-information{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;    
    color: #000000;
    margin-right: 77px;
}
.chess-experience{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.div-info{
    margin-top: 100px;
    margin-left: 48px;
}
.personal-info{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
}
.basic-info{
    margin-top: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #95939A;
}

#registration{
    margin-top: 93px;
    margin-left: 48px;
}
#username-div,
#mail-div,
#tel-div,
#date-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    padding: 8px 16px;
    width: 775px;
    height: 46px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}
#username-div:hover,
#mail-div:hover,
#tel-div:hover,
#date-div:hover{
    background: #E9ECEF;
}
#username{
    display: flex;
    align-items: center;
    border-style: none;
    width: 743px;
    height: 30px;
    background: rgba(255, 255, 255, 1e-06);
    outline: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #212529;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#mail{
    border-style: none;
    display: flex;
    width: 743px;
    height: 30px;
    background: rgba(255, 255, 255, 1e-06);
    outline: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #212529;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#tel{
    border-style: none;
    display: flex;
    width: 743px;
    height: 30px;
    background: rgba(255, 255, 255, 1e-06);
    outline: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #212529;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#date{
    border-style: none;
    display: flex;
    width: 743px;
    height: 30px;
    background: rgba(255, 255, 255, 1e-06);
    outline: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #212529;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#error_username,
#error_email,
#error_tel{
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding-left: 16px;
    width: 775px;
    color:red;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.buttons-s{
    display: flex;
    margin-top: 101px;
}
.back-s{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 53px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #212529;
    background-color: #F5F5F5;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px 35px;
    margin-right: 578px;
    cursor: pointer;
}
.back-a-s,
.next-a-s{
    text-decoration: none;
}
#next-s{
    display: flex;
    align-items: center;
    padding: 13px 24px;
    width: 128px;
    height: 53px;
    background: #212529;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
#next-s:hover{
    outline: 4px solid rgba(194, 165, 249, 0.8);
}
.img-next-s{
    background: #212529;
    margin-right: 10px;
}
.img-arrow-s{
    background: #212529; 
}

/* third page */

.h2-third{
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: #212529;
    margin-bottom: 25px;
}
.h3-third{
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #093F68;
    margin-left: 349px;
}
.third-page-right-content{
    background-color: #F5F5F5;
    margin-left: 50%;
    width: 50%;
    height: 1080px;
    position: absolute;
}
#one-third{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #E9FAF1;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
}
#two-third{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
}
.sign{
  margin-right: 50%; 
}
.choose{
    display: flex;
    flex-direction: row;
}
.custom-select {
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    width: 392px;
    height: 46px;
    margin-top: 95px;
    margin-left: 37px;
    margin-right: 23px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    z-index: 10;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: #FFFFFF;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}


.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
}


.select-items {
    position: absolute;
    width: 392px;
    height: 199px;
    background: #FFFFFF;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-top: 20px;
    cursor: pointer;    
    z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#choose-right{
    width: 392px;
    height: 46px;
    margin-top: 95px;
    margin-left: 45px;
    margin-right: 23px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    z-index: 10;
}
#character-btn{
    width: 392px;
    height: 46px;
    padding-left: 16px;
    border-style: none;
    background: rgba(255, 255, 255, 1e-06);
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.arr{
    width: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
}
.app{
    width: 392px;
    height: 199px;
    padding-left: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
#app-list{
    margin-top: 15px;
}

.participate-div{
    margin-left: 37px;
    margin-top:80px;
    z-index: -10;
}

.participate-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.yes-no{
    margin-top: 27px;
}
.label-yes,
.label-no{
    margin-right: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #212529;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#yes,
#no{
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    margin-right: 5px;
}
.buttons{
    display: flex;
    margin-top: 101px;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
    width: 45px;
    height: 53px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #212529;
    background-color: #F5F5F5;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px 35px;
    margin-right: 653px;
    cursor: pointer;
}
.back-a,
.next-a{
    text-decoration: none;
}
.next{
    display: flex;
    align-items: center;
    padding: 13px 24px;
    width: 99px;
    height: 53px;
    background: #212529;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.next:hover{
    outline: 4px solid rgba(194, 165, 249, 0.8);
}
.result-span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* fourth page */

.page-right-content{    
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}
.rocket{
    margin-top: 423px;
}
.completed-txt{
    margin-top: 18px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}


